if ARCH_PVMFW

config SYS_VENDOR
	default "android"

config SYS_BOARD
	default "pvmfw-arm64"

config SYS_CONFIG_NAME
	default "pvmfw-arm64"

config TARGET_PVMFW_ARM_64BIT
	bool "ARMv8, 64bit"
	default y
	select ARM64

config SYS_SDRAM_BASE
	hex "SDRAM base address"
	default 0x40000000
	help
	  The address that is start of SDRAM.

endif
